.chart-container {
  width: 35em;
  height: 35em;
  display: flex;
}

.params-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.params-form {
  width: 50vw;
  padding: 5%;
  margin: 0% 15%;
  font-size: 0.75em;
  z-index: 1;
}

.params-form h6 {
  text-align: center;
  color: #101935;
}

.params-form .form-group .form-control {
  background: #c9e8f2;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 1em;
  box-shadow: -1px -1px 4px #8da2a9, 1px 1px 4px #ffff;
  color: #101935;
}

.params-form .form-group label {
  text-align: start;
  color: #101935;
}

.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
  margin-left: 25%;
  text-align: center;
  background: #c9e8f2;
  outline: none;
  font-size: 1.2em;
  box-shadow: inset -1px -1px 4px #8da2a9, inset 1px 1px 4px #ffff;
  color: #101935;
}

.btnSubmit:hover {
  box-shadow: -1px -1px 4px #8da2a9, 1px 1px 4px #ffff;
  border: 1px solid #789ca9;
}

@media screen and (max-width: 768px) {
  .params-form {
    width: 100vw;
    margin: 25% 15% 25% 10%;
  }

  .params-form .form-group input[type="text"] {
    font-size: 0.8em;
    width: 110%;
  }
  .params-form .form-group input[type="time"] {
    font-size: 0.8em;
    width: 110%;
  }
}
